main {
    display: flex;
    font-family: sans-serif;
}

h2 {
    color: #809DD6;
    font-weight: 600;
}

.icon {
    background-color: white;
    color: white;
    height: 20px;
}

.img-container {
    height: 40em;
    width: 25em;
    background-color: #809DD6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%
}

.deskboi {
    height: 15em;
}

.info {
    padding: 1em 2em;
}

.contact {
    background-color: #A1B4DA;
}