main {
    display: flex;
    font-family: sans-serif;
    padding: 2em;
}

.left {
    padding-right: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: #809DD6;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .5em;
}

h3 {
    font-weight: 700;
}

.job {
    margin-bottom: 2em;
}

.details {
    display: flex;
    justify-content: space-between;
    color: #90949A;
    padding: .4em 0;
}

.icon {
    height: 20px;
}

aside {
    color: white;
}

.img-container {
    height: 25em;
    width: 25em;
    background-color: #809DD6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%
}

.deskboi {
    height: 15em;
}

.info {
    padding: 1em 2em;
}

.info p:first-child {
    padding-bottom: .5em;
}

.contact {
    background-color: #A1B4DA;
    padding: 1em 2em;
}

li {
    padding: .25em;
    display: flex;
}